In [35]:
import kagglehub
import pyro
import pyro.distributions as dist
import torch
import pandas as pd
import os

# Download latest version
path = kagglehub.dataset_download("shivamkumar121215/nba-stats-dataset-for-last-10-years")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shivamkumar121215/nba-stats-dataset-for-last-10-years?dataset_version_number=3...

100%|███████████████████████████████████████████████████████████████████████████████| 912k/912k [00:00<00:00, 12.0MB/s]

Extracting files...
Path to dataset files: C:\Users\chawk\.cache\kagglehub\datasets\shivamkumar121215\nba-stats-dataset-for-last-10-years\versions\3

In [41]:
df = pd.read_csv(os.path.join(path, "Regular_Season.csv"), encoding='latin1')
df = df.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])

In [44]:
df.head()

,year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,AST_TOV,STL_TOV
0,2012-13,Regular_Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,...,594,640,374,116,105,280,143,2280,1.34,0.41
1,2012-13,Regular_Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,...,367,433,469,106,25,287,173,2133,1.63,0.37
2,2012-13,Regular_Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,...,513,610,551,129,67,226,110,2036,2.44,0.57
3,2012-13,Regular_Season,201935,4,James Harden,1610612745,HOU,78,2985,585,...,317,379,455,142,38,295,178,2023,1.54,0.48
4,2012-13,Regular_Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,...,326,460,171,52,32,175,205,1920,0.98,0.30

In [47]:
mvp_winners = {
    "2012-13": "LeBron James",
    "2013-14": "Kevin Durant",
    "2014-15": "Stephen Curry",
    "2015-16": "Stephen Curry",
    "2016-17": "Russell Westbrook",
    "2017-18": "James Harden",
    "2018-19": "Giannis Antetokounmpo",
    "2019-20": "Giannis Antetokounmpo",
    "2020-21": "Nikola Jokic",
    "2021-22": "Nikola Jokic",
    "2022-23": "Joel Embiid",
    "2023-24": "Nikola Jokic"
}
df['MVP_winner'] = df['year'].map(mvp_winners)
df['Won_MVP?'] = df['PLAYER'] == df['MVP_winner']
df.head()

,year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,...,AST,STL,BLK,TOV,PF,PTS,AST_TOV,STL_TOV,MVP_winner,Won_MVP?
0,2012-13,Regular_Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,...,374,116,105,280,143,2280,1.34,0.41,LeBron James,False
1,2012-13,Regular_Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,...,469,106,25,287,173,2133,1.63,0.37,LeBron James,False
2,2012-13,Regular_Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,...,551,129,67,226,110,2036,2.44,0.57,LeBron James,True
3,2012-13,Regular_Season,201935,4,James Harden,1610612745,HOU,78,2985,585,...,455,142,38,295,178,2023,1.54,0.48,LeBron James,False
4,2012-13,Regular_Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,...,171,52,32,175,205,1920,0.98,0.30,LeBron James,False